.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */

  /*делаем блок(контейнер) гибким*/
  display: flex;

  /*задаём внутренний отсуп, согласно брифа*/
  padding-left: 64px;


  /*скрыть не поместившуюся часть целиком без скролла*/
  overflow: hidden;

  /* задаём относительное позиционирование
  "Элемент не отступает от соседей, как при статическом позиционировании, а действительно смещается относительно первоначального положения соответствующими инструкциямию*/
  position: relative;

  /*задем цвет, согласно брифа*/
  background-color: #f2f2f2;




}
