.header__main-illustration{
  width: 756px;
  height: 608px;
  /*позиционируем абсолютно, согласно брифа*/
  position: absolute;
  /* задаем знаяение по оси Z т.к. элемент спозиционирван абсолютно, значит вырван из потока*/
  z-index: 1;
  /* прижимаем к правому углу, родитель header спозиционирован относительно, дочерний - абсолютно. Позицианируем элемент относительно родителя*/
  right: 0;
  bottom: 0;



}
